@import "tailwindcss";


@theme {
  --color-background: #121212;
  --color-card: #1E1E1E;
  --color-text: #E0E0E0;
  --color-text-muted: #888888;
  --color-accent: #00BFFF; 
  --color-border: #2c2c2c;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text;
  }
}